<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">
    <title>Update</title>
</head>
<body>
    <header class="head">
        <div class="content_header">
            <h2><a href="/" class="logo">Logo</a></h2>
            <ul>
                <li><a href="/" class="active">Home</a></li>
                <li><a href="/">About</a></li>
            </ul>
            <div class="search-bar">
                <input spellcheck="false" type="text" placeholder="Search a product.." name="search" id="search" class="search"/>
                <button class="search-btn" id="search-btn">Search</button>
            </div>
        </div>
    </header>

    <div class="container">
        <div class="content section-1">
            <h2>Update your product</h2>
            <hr />
            <form method="POST" action="/update/{{todo._id}}" class="form" name="form">
               
